{
    "tabWidth": 4,
    "useTabs": true,
    "plugins": ["prettier-plugins-typescript"],
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        }
    ],
    "singleQuote": true,
    "semi": false,
    "trailingComma": "all",
    "arrowParens": "always"
}
